{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="home">
    <div class="jumbotron">
        <h1>{% trans "welcome " %}{{ request.user.username}}</h1>
    </div>
    <div class="row row-centered home-cards">
        <a href="/admin">
            <div class="panel card panel-default col-centered col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <div class="panel-heading">
                    <img class="img-responsive center-block" src="{% static 'images/header_bg.jpg' %}" alt="" />
                </div>
                <div class="panel-body">
                    <h3> {% trans "ADMIN DASHBOARD" %} </h3>
                </div>
            </div>
        </a>
        <a href="">
            <div class="panel card panel-default col-centered col-xs-10 col-sm-4 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" >
                <div class="panel-heading">
                    <img class="img-responsive center-block" src="{% static 'images/header_bg.jpg' %}" alt="" />
                </div>
                <div class="panel-body">
                    <h3> {% trans "DEPRECIATION REPORTS" %} </h3>
                </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
